{% extends "layouts/base.html" %}

{% block title %} Settings {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
  <div class="yoo-uikits-heading">
    <h2 class="yoo-uikits-title">Make new transaction</h2>
  </div>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="yoo-card yoo-style1">
            <div class="yoo-card-body">
              <div class="tab-content">
                <div class="yoo-profile-setting-container">
                  <div class="yoo-height-b45 yoo-height-lg-b45"></div>
                  <div class="yoo-flex">
                    <div class="yoo-profile-setting-heading">
                      <h2 class="yoo-profile-setting-title">Transaction details</h2>
                      <div class="yoo-profile-setting-subtitle">Add all your details and fill-up correctly.</div>
                    </div>
                  </div>
                  <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                  <div class="yoo-form-field-wrap yoo-style1">
                  
                    
            <form method="post" action="" class="yoo-form yoo-style1">
                  </div>
                  <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                  <div class="yoo-form-field-wrap yoo-style1">
                    <label class="yoo-form-field-label yoo-type1">Your Public Key</label>
                    <div class="input-group form-group-sm">
                    
                      <input type="text" class="form-control" placeholder="Public key" value="{{ current_user.username }}" name="public_key">
                    </div>
                  </div>
                  <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                  <div class="yoo-form-field-wrap yoo-style1">
                    <label class="yoo-form-field-label yoo-type1">Private key</label>
                    <div class="input-group form-group-sm">
                      <input type="password" class="form-control" placeholder="key" value="" name="private_key">
                    </div>
                  </div>                  
                  <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                  <div class="yoo-form-field-wrap yoo-style1">
                    <label class="yoo-form-field-label yoo-type1">Amount</label>
                    <div class="input-group form-group-sm">
                      <input type="text" class="form-control" placeholder="Amount" value="" name="amount">
                    </div>
                  </div>
                  <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                  <div class="yoo-form-field-wrap yoo-style1">
                    <label class="yoo-form-field-label yoo-type1">Reciever's Public key</label>
                    <div class="input-group form-group-sm">
                      <input type="text" class="form-control" placeholder="key" value="" name="receiver_public_key">
                    </div>
                  </div>
                  <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                  <div class="yoo-form-field-wrap yoo-style1">
                    <label class="yoo-form-field-label yoo-type1">Comments</label>
                    <div class="input-group form-group-sm">
                      <input type="text" class="form-control" placeholder="Write something for Reciever" value="" name="comments">
                    </div>
                  </div>
                  
                  <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                  
                  <div class="yoo-height-b60 yoo-height-lg-b60"></div>
->
                <hr>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                <div class="yoo-profile-btn-group yoo-style1">
                    <button type="submit" name = "update_now" ripple="ripple" class="yoo-profile-btn yoo-style1 yoo-color1">Update Now</a>
                  
                </div>
              </form>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
              </div>
            </div>
          </div>
        </div>
        <!-- .col -->
      </div>
    </div>
    <div class="yoo-height-b60 yoo-height-lg-b60"></div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
