{% extends "layouts/base.html" %}

{% block content %}   
<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
    <div class="yoo-uikits-heading">
        <h2 class="yoo-uikits-title">Miner Pool</h2>
    </div>
</div>
<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="yoo-card yoo-style1">

            </div>
            <div class="yoo-height-b30 yoo-height-lg-b30"></div>
            <div class="yoo-card yoo-style1">
                <div class="yoo-card-heading">
                    <div class="yoo-card-heading-left">
                        <h2 class="yoo-card-title">Digital Signatures</h2>
                    </div>
                </div>
                <div class="yoo-card-body">
                    <div class="yoo-padd-lr-20">
                        <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                        <table class="table table-borderless">

                            {% for obj in query %}
                            <tr>
                                <td>




                            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#modal{{ loop.index }}">{{ obj.digital_signature }}</button>
                              <div class="modal fade" id="modal{{ loop.index}}">
                                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title">Bordered table</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <ion-icon name="close"></ion-icon>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                            {{ obj.comments }}
                                          </div>
                                          <div class="modal-footer">
                                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                                </td>
                            </tr>
                            {% endfor %}


                        </table>
                        <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>

    {% endblock content %}  
