{% extends "layouts/base.html" %}

{% block content %}   
<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
    <div class="yoo-uikits-heading">
        <h2 class="yoo-uikits-title">Public Ledger</h2>
    </div>
</div>
<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="yoo-card yoo-style1">

            </div>
            <div class="yoo-height-b30 yoo-height-lg-b30"></div>
            <div class="yoo-card yoo-style1">
                <div class="yoo-card-heading">
                    <div class="yoo-card-heading-left">
                        <h2 class="yoo-card-title">Information</h2>
                    </div>
                </div>
                <div class="yoo-card-body">
                    <div class="yoo-padd-lr-20">
                        <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                        <table class="table table-borderless">

                            {% for obj in query %}

                            <tr>
                                <td>
                            <button type="button" class="btn btn-outline-light" data-toggle="modal" data-target="#modal1{{ loop.index }}">{{ obj.current_hash }}</button>
                              <div class="modal fade" id="modal1{{ loop.index}}">
                                  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <h5 class="modal-title">Block Details</h5>
                                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <ion-icon name="close"></ion-icon>
                                              </button>
                                          </div>
                                          <div class="modal-body">
                                            <figure class="highlight"><pre><code class="language-html" data-lang="html">
<span class=nt>ID: </span><span>{{ obj.id }}</span>
<span class=nt>Current Hash: </span><span>{{ obj.current_hash }}</span>
<span class=nt>Public Key Sender: </span><span>{{ obj.pbk_sender }}</span>
<span class=nt>Public Key Receiver: </span><span>{{ obj.pbk_receiver }}</span>
<span class=nt>Amount: </span><span>{{ obj.amount }} CC</span>
<span class=nt>Comments: </span><span>{{ obj.comments }}</span>
<span class=nt>Date: </span><span>{{ obj.date }}</span>
<span class=nt>Nonce: </span><span>{{ obj.nonce }}</span>
<span class=nt>Digital Signature </span><span>{{ obj.digital_signature }}</span>
<span class=nt>Previous Hash: </span><span>{{ obj.prev_hash }}</span>

                                          </div>
                                          <!-- <div class="modal-footer">
                                              <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                          </div> -->
                                      </div>
                                  </div>
                              </div>
                                </td>
                            </tr>
                            {% endfor %}


                        </table>
                        <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>

    {% endblock content %}  
