{% extends "layouts/base.html" %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="/static/assets/css/jqvmap.min.css" />
<link rel="stylesheet" type="text/css" href="/static/assets/css/friends.css" />
{% endblock stylesheets %}
<{% block content %}
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 my-5">
        <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
                <div class="yoo-card-heading-left">
                    <h2 class="yoo-card-title"><span class="yoo-card-title-icon yoo-green-bg">
                        <ion-icon name="checkmark-outline"></ion-icon>
                        </span>Over</h2>
                </div>
            </div>
            <div class="yoo-card-body">
                <div class="yoo-padd-lr-20">
                    <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                    {% for friend in to_confirmed %}
                    <div class="yoo-medias yoo-style1 yoo-type1 d-flex flex-row align-items-center">
                        <div class="yoo-media-meta">
                            <div class="row d-flex">
                                <div class="col-6 text-left ">
                                    <div class="user-list-item">
                                        {{ friend.from_id }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btnx-icon badge badge-success align-self-center ">
                            {{ friend.amount }}
                        </div>
                    </div>
                    {% endfor %}
                    <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<div class="row">
    <div class="col-lg-3 "></div>
    <div class="col-lg-6 my-5">
        <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
                <div class="yoo-card-heading-left">
                    <h2 class="yoo-card-title"><span class="yoo-card-title-icon yoo-purple-bg">
                            <ion-icon name="flask" role="img" class="md hydrated" aria-label="flask"></ion-icon>
                        </span>Pending list</h2>
                </div>
            </div>
            <div class="yoo-card-body">
                <div class="yoo-padd-lr-20">
                    <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                    {% for lis in to %}
                    <div class="yoo-medias yoo-style1 yoo-type1">                        
                        <div class="yoo-media-meta">
                            <div class="row d-flex">
                                <div class="col text-left ">
                                    <div class="user-list-item">
                                        {{ lis.from_id }}
                                    </div>
                                    <div class="yoo-media-subtitle text-success">
                                        {{ lis.amount }}
                                    </div>
                                </div>
                                <form method="POST">
                                <div class="col">
                                    <div class="d-flex flex-row justify-content-end">
                                        <button type="submit" name ="accept" ripple="ripple" ripple-color="#fff" 
                                            class="btn btn-success mx-1 d-flex flex-column align-items-center" value ="{{ lis.id }}">
                                            <ion-icon class="btnx-icon" name="checkmark-outline"></ion-icon>
                                        </button>
                                        <button type="submit" name = "decline" ripple="ripple" ripple-color="#fff" 
                                            class="btn btn-danger mx-1 d-flex flex-column align-items-center" value ="{{ lis.id }}">
                                            <ion-icon name="close-outline" class="btnx-icon"></ion-icon>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div> 
                    {% endfor %}                    
                </div>
                <div class="yoo-height-b20 yoo-height-lg-b20"></div>
            </div>
        </div>
        <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    </div>
    <div class="col-lg-3"></div>
</div>
<div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 my-5">
        <div class="yoo-card yoo-style1">
            <div class="yoo-card-heading">
                <div class="yoo-card-heading-left">
                    <h2 class="yoo-card-title"><span class="yoo-card-title-icon yoo-green-bg">
                        <ion-icon name="add-circle-outline"></ion-icon>
                        </span>Add</h2>
                </div>
            </div>
            <div class="yoo-card-body">
                <div class="yoo-padd-lr-20">
                    <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                    <div class="yoo-flex">
                        <div class="yoo-profile-setting-heading">
                          <h2 class="yoo-profile-setting-title">Transaction details</h2>
                          <div class="yoo-profile-setting-subtitle">Add all your details and fill-up correctly.</div>
                        </div>
                    </div>
                    <div class="yoo-height-b25 yoo-height-lg-b25"></div>
                    <div class="yoo-form-field-wrap yoo-style1">
                        <label class="yoo-form-field-label yoo-type1">Amount</label>
                        <div class="input-group form-group-sm">
                          <input type="text" class="form-control" placeholder="Amount" value="">
                        </div>
                    </div>  
                    <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                    <!-- make the receiver a dropdown from list of friends -->
                    <div class="yoo-form-field-wrap yoo-style1">
                        <label class="yoo-form-field-label yoo-type1">Receiver</label>
                        <div class="input-group form-group-sm">
                          <div class="yoo-select">
                            <select id="inputState" class="form-control">
                              <option >manas</option>
                              <option>vj</option>
                              <option>kanesh</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                    <div class="yoo-form-field-wrap yoo-style1">
                        <label class="yoo-form-field-label yoo-type1">Comments</label>
                        <div class="input-group form-group-sm">
                          <input type="text" class="form-control" placeholder="Write something for Reciever" value="">
                        </div>
                    </div>
                    <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                    <div class="yoo-profile-btn-group yoo-style1">
                        <a href="transaction_history.htmlaaa" class="yoo-profile-btn yoo-style1 yoo-color2">Update Now</a>                        
                    </div>
                    <div class="yoo-height-b20 yoo-height-lg-b20"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
{% endblock content %}