{% extends "layouts/base_crypto.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

  <link rel="stylesheet" type="text/css" href="/static/assets/css/jqvmap.min.css" />

{% endblock stylesheets %}

{% block content %}


    <!-- <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container-fluid">
      <div class="yoo-uikits-heading">
        <h2 class="yoo-uikits-title">Dashboard</h2>
      </div>
    </div> -->
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-sm-12">
          <div class="yoo-iconbox yoo-style1 yoo-color1 yoo-green-bg yoo-blue-shadow">
            <div class="yoo-iconbox-in">
              <div class="yoo-iconbox-number text-large">Net Balance</div>
              <div class="yoo-iconbox-number text-large"><center>{{net_balance}} CC</center></div>
              <div class="yoo-iconbox-icon"><ion-icon name="albums"></ion-icon></div>
            </div>
          </div>
        </div><!-- .col -->
      </div>
    </div>
    <div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="yoo-height-b30 yoo-height-lg-b30"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="yoo-card yoo-style1">

            </div>
            <div class="yoo-height-b30 yoo-height-lg-b30"></div>
            <div class="yoo-card yoo-style1">
                <div class="yoo-card-heading">
                    <div class="yoo-card-heading-left">
                        <h2 class="yoo-card-title">Transaction History</h2>
                    </div>
                </div>
                <div class="yoo-card-body">
                    <div class="yoo-padd-lr-20">
                        <div class="yoo-height-b20 yoo-height-lg-b20"></div>
<table class="table table-hover">
    <thead>
    <tr>
      <th scope="col"><center>ID</center></th>
      <th scope="col"><center>Amount</center></th>
      <th scope="col"><center>Date</center></th>
    </tr>
    </thead>
    <tbody>
    {% for obj in query %}

    {% if obj.pbk_sender == pbk %}
    <tr class="alert alert-danger" role="alert">
    {% else %}
    <tr class="alert alert-success" role="alert">
    {% endif %}

    <td><center>{{ obj.id }}</center></td>
      <td><center>{{ obj.amount }}</center></td>
      <td><center>{{ obj.date }}</center></td>
    </tr>


    {% endfor %}

    </tbody>
    </table>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script src="/static/assets/js/apexcharts.min.js"></script>
<script src="/static/assets/js/apexcharts.initialize.js"></script>
<script src="/static/assets/js/svg-maps/jquery.vmap.min.js"></script>
<script src="/static/assets/js/svg-maps/jquery.vmap.usa.js"></script>
<script src="/static/assets/js/svg-maps/jquery.vmap.main.js"></script>

{% endblock javascripts %}
