
  <div class="yoo-sidebarheader-toggle">
    <div class="yoo-button-bar1"></div>
    <div class="yoo-button-bar2"></div>
    <div class="yoo-button-bar3"></div>
  </div><!-- .yoo-sidebarheader-toggle -->
  <div class="yoo-sidebarheader">
    <!-- <div class="yoo-add">
      <div class="yoo-add-in">
        <a target="_blank" 
           href="https://appseed.us/admin-dashboards/flask-idashboard-pro" class="yoo-add-thumb">
          <img src="/static/assets/img/idashboard.jpg" alt="MaterialXPro">
        </a>
        <a target="_blank" 
           href="https://appseed.us/admin-dashboards/flask-idashboard-pro" 
           class="yoo-add-btn btn btn-success btn-sm">Flask iDashboard PRO</a>
      </div>
    </div>  -->

    
    <!-- <div class="yoo-sidebarheader-in" data-scrollbar>
      <div class="yoo-sidebar-search">
        <form action="#" class="yoo-search yoo-style1 yoo-search-md">
          <input type="text" placeholder="Search..." class="yoo-search-input">
          <button class="yoo-search-submit"><ion-icon name="search"></ion-icon></button>
          <button class="yoo-voice-btn"><ion-icon name="mic"></ion-icon></button>
        </form>
      </div> -->


      <div class="yoo-sidebar-nav">
        <ul class="yoo-sidebar-nav-list yoo-mp0">
          <li class="active">
            <a href="/index_crypto">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="layers"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Dashboard</span>
              </span>
            </a>
          </li>

          <!-- <li>
            <a href="/settings.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="create"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Profile Settings</span>
              </span>
            </a>
          </li> -->

          <!-- <li>
            <a href="/settle.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="grid-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Settle</span>
              </span>
            </a>
          </li>
     
          <li>
            <a href="/friends.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="people-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Friends</span>
              </span>
            </a>
          </li>
          <li>
            <a href="/transactions.html">
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="cash-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Transactions</span>
              </span>
            </a>
          </li> -->


          <!-- <li class="yoo-sidebar-has-children">
            <a href="#" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="person-circle"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Sign In/Sign Up</span>
              </span>
            </a>
            <ul class="yoo-sidebar-nav-dropdown">
              <li>
                <a href="/signin.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Log In</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="/signup.html" >
                  <span class="yoo-sidebar-link-title">
                    <span class="yoo-sidebar-link-text">Sign Up</span>
                  </span>
                </a>
              </li>
            </ul>
          </li> -->


          <li>
            <a href="/make_transaction" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="cash-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">New Transaction</span>
              </span>
            </a>
          </li>



          <li>
            <a href="/public_ledger" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="layers-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Public Ledger</span>
              </span>
            </a>
          </li>

          <li>
            <a href="/mining_pool" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="hammer-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Mining Pool</span>
              </span>
            </a>
          </li>


          <li>
            <a href="/transaction_history" >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="card-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Transaction History</span>
              </span>
            </a>
          </li>

          

          <li>
            <a href={{ url_for('base_blueprint.logout') }} >
              <span class="yoo-sidebar-link-title">
                <span class="yoo-sidebar-link-icon yoo-style1"><ion-icon name="log-out-outline"></ion-icon></span>
                <span class="yoo-sidebar-link-text">Logout</span>
              </span>
            </a>
          </li> 
        </ul><!-- .yoo-sidebar-nav-list -->
      </div>
    </div>
  </div><!-- .yoo-sidebarheader -->